/* Dashboard Styles */
.dashboard {
  display: flex;
  min-height: 100vh;
  position: fixed;
}

.sidebar {
  background-color: #3a36db;
  color: white ; 
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: width 0.3s;
  cursor: pointer;
}

.sidebar-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding: 10px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  width: fit-content;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links:hover {
  background-color: #2a2885;
  color: #f0f0f0;
}

.nav-links span {
  margin-left: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar {
    width: 80px;
  }

  .sidebar-title,
  .nav-links .sideBar-text {
    display: none;
  }

  .nav-links span {
    align-items: center;
    margin: auto;
  }
}
